* {
    margin: 0;
    padding: 0;
}

input:invalid {
    border: red;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 380px;
    margin: 5em auto;
    border-radius: 16px;
    border-radius: 12px;
    border-style: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    border-radius: 12px;
    height: 18px;
    margin: 12px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#entrar {
    background-color: #333333;
    box-shadow: black;
    color: white;
    font-size: larger;
    height: max-content;
}