<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login área admin</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <h1>Painel do barbeiro</h1>
    </header>
    <main>
        <form action="" 
        id="form-login-admin" 
        class="form-admin"
        autocomplete="on"
        autofocus
        autocorrect="on"
        aria-label="o que é isso"  
        >
        <h2>Faça o seu login</h2>
            <label for="email">
                E-mail
            </label>
            <input 
            type="email"
            id="email"
            placeholder="Informe o seu e-mail"
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2}$" 
            title="Informe um e-mail valido para seguir"
            required>

            <label for="senha">
                Senha
            </label>
            <input
             type="password" 
             id="pwd" 
             name="senha"
             class="senha"
             placeholder="Informe uma senha"
             minlength="8"
             required>

             <input type="submit" id="entrar" class="bt-submit" value="Entrar">

        </form>  
    </main>

    <script src="login.js">
    </script>
</body>
</html>


<!-- 📝 Task 2: O Porteiro (A Lógica de Autenticação Fake)

    Objetivo: Criar o login.js para validar quem está entrando.

    Requisitos: * Crie variáveis "chumbadas" no topo do seu código (seu Mock de back-end). Ex: defina que o usuário correto é "admin" e a senha é "1234".

        Capture o clique do botão "Entrar".

        Faça um if/else: A senha digitada bate com a chumbada?

        Se sim: Salve um "crachá" no navegador para provar que ele fez login. Dica de ouro: Pesquise sobre o sessionStorage no JavaScript. Ele é primo do localStorage, mas é mais seguro para logins, pois apaga sozinho quando o cara fecha a aba.

        Se não: Limpe os campos e mostre um aviso de "Usuário ou senha inválidos".. -->